.wallet_dollar{
    font-size: 25px;
    font-weight: 600;
    color: rgb(252, 181, 2);
}
.news_space > li{
    padding: 10px 0px;
}
.profile_nav > li > a{
    padding: 0.5rem 1.5rem;
    
}
.badgeFont {
    font-size: 18px;
}
.register_select{
    width: 25%;
    padding: 1rem;
    margin: 5px 0;
}
.register_select_product{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}
.register_saveArea{
    -webkit-box-shadow: 0 0 10px #dedede;
    -moz-box-shadow: 0 0 10px #dedede;
    box-shadow: 0 0 10px #dedede;
}